*~
.bundle
vendor/cache
vendor/gems
vendor/specifications
vendor/doc
vendor/bin
vendor/bundler
log
db/schema.rb
tmp
public/system
.idea
public/stylesheets/compiled/
.sass_cache/
app/stylesheets/.sass_cache/
*.sassc
config/database.yml
config/cucumber.yml
rerun.txt
capybara-*.html

