body { font-family: Georgia; font-size: 16px }
.project { width: 600px; border-top: 1px solid #ddd; padding: 10px 15px 15px 15px }
.project h3 { margin: 0 }
.project strong { float: right }
.project.match { border: 10px solid red }
#nav { text-align: center }
#loader { position: absolute; margin-top: -100px; margin-left: 650px  }
#notifier { position: fixed; top: 10px; right: 45px; font-size: 104px }
#notifier a { text-decoration: none }
textarea, input { font-family : Georgia; font-size: 20px; padding: 4px; color: #666; }
#feedback textarea { width: 200px; height: 100px; color: #666 }
#feedback textarea.hover { color: #000; width: 300px; height: 300px }
#feedback p { padding: 5px }
#counter { position: fixed; bottom: 10px; right: 10px }
#flashbanner { position: absolute; left: -1000px }
#controls { margin-bottom: 10px }
#stop_words { width: 300px }
#sources { position: fixed; right: 30px; bottom: 0px }
#twitter { margin: 10px }
a img { border: 0 }
.project img { float: left; margin-right: 5px }
