body { font-family: Georgia; font-size: 16px }
.project { width: 600px; border-top: 1px solid #ddd; padding: 10px 15px 15px 15px }
.project h3 { margin: 0 }
.project strong { float: right }
.project.match { border: 10px solid red }
#nav { text-align: center }
#loader { position: absolute; margin-top: -100px; margin-left: 650px; }
#notifier { position: fixed; top: 10px; right: 45px; width: 220px; }
textarea, input { font-family : Georgia; font-size: 20px; padding: 4px; color: #666; }
#feedback { position : fixed; bottom: 0px; right: 20px; background: white; height: 100%; }
#feedback textarea { width: 200px; height: 100px; color: #666 }
#feedback textarea.hover { color: #000; width: 100%; height: 90%; margin: 10px }
#feedback p { padding: 5px }
#counter { position: fixed; bottom: 10px; right: 10px }
#flashbanner { position: absolute; left: -1000px }
#controls { margin-bottom: 10px }
#stop_words { width: 300px }
#sources { position: fixed; right: 30px; bottom: 0px }
input[type="button"], input[type="submit"] { font-size: 14px }
#twitter { margin: 10px }
a img { border: 0 }
.project img { float: left; margin-right: 5px }
#categories .child { margin-left:15px; font-size:12px }
#categories .category { width: 50%; float: left; margin-bottom: 10px }
.invisible { display: none }
a.up { float: right; text-decoration: none }


/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
  
.jqmWindow {
    overflow: auto;
    display: none;
    
    position: fixed;
    top: 5%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

