body{margin: 0;padding: 0; height: 100%; max-height: 100%; background:#f1f1f1}

#leftbl{position: absolute;top: 0;left: 0;width: 525px;height: 100%;color: #000; background:#f1f1f1}

.project { margin: 5px 0 0 35px; width: 483px; background: #caffbe url("/images/middle-message.png") repeat-y;
    z-index: 1;}

/*.project h3 { margin: 0 }*/
.project strong { float: right }

.project.match { border: 2px solid red }
    
#projectop {width: 483px; height: 20px; background: url(/images/top-message.png) no-repeat;}

#projectbottom {width: 483px; height: 20px; background: url(/images/bottom-message.png) no-repeat;}

#projectzag {margin: 0 0 0 35px; font: italic 18px Georgia, "Times New Roman", Times, serif; color: #003cff;}

#projectzag img {margin: 0 15px 0 0;}

#projectdata {margin: 30px 0 0 35px; display: inline; font: italic 14px Georgia, "Times New Roman", Times, serif;}

#projectcena {margin: 30px 30px 0 20px; display: inline; font: bold 20px Georgia, "Times New Roman", Times, serif; font-style: italic;}

#projectzag_txt {margin: 15px 35px 0; font: italic 14px Arial, Helvetica, sans-serif;}

#projectzag a {font: italic 18px Georgia, "Times New Roman", Times, serif; color: #003cff; text-decoration: underline;}

#projectzag a:hover {text-decoration: none;}

#arrow {position: absolute; left: -525px !important; left: 0; top: 15px; width: 32px; height: 85px; background:url(/images/arrow.jpg) no-repeat;}

#content{position: fixed;top: 0; left: 525px;right: 0;bottom: 0;background: #f1f1f1; background:#fff}

#content a { font: 14px Arial, Helvetica, sans-serif; color: #0000FF; text-decoration: underline;}

#content a:hover {color: #FF0000; text-decoration: none}

#namelogo {position: relative; padding: 0 0 0 50px; top: 25px; right: 25px; font: bold 30px Georgia, "Times New Roman", Times, serif; border: 0px solid coral; font-style: italic; text-align: right;}

#namelogo a {color: #000; font: bold 30px Georgia, "Times New Roman", Times, serif; font-style: italic; text-decoration: underline;}

#namelogo a:hover {color: #000; font: bold 30px Georgia, "Times New Roman", Times, serif; font-style: italic; text-decoration: underline;}

#logo_txt {margin: 15px 0 0 0; font: italic 14px Georgia, "Times New Roman", Times, serif; color: #a6a6a6;}

#ris {position: absolute; margin-left:-2px;top: 35px; width: 136px; height: 109px; background: url(/images/ris.jpg) no-repeat; border: 0px solid coral;}

#search {position: absolute; top: 140px; left:0%; width: 100%; height: 100px; border: 0px solid coral; font: 14px Arial, Helvetica, sans-serif; background: #f1f1f1;}

#stop_words {position: absolute; width: 70%; height: 25px; margin: 7px 0 0 20px; padding: 8px 0 0 0; font: 16px Verdana, Arial, Helvetica, sans-serif; border: 1px solid #000; color: #666;}

#search p {margin: 0; padding: 0 0 0 18px; width: 400px;}



* html body{ /*IE6 hack*/

padding: 0 0 0 525px;

}

* html #content{ /*IE6 hack*/

height: 100%; 

width: 100%; 

}


#lay {position:absolute; top:170px; left: -220px; height: auto; width:627px; background: url(/images/middle.png) repeat-y ; visibility:hidden;}

#laytop {margin: -30px 0 0 0 !important; margin: 0; height: 30px; width:627px; background: url(/images/top.png) repeat-y ;}

#laybottom {position: relative; top: 30px; height: 30px; width:627px; background: url(/images/bottom.png) repeat-y ;}

#layzag {padding: 0 15px 15px 15px; font: 30px Georgia, "Times New Roman", Times, serif; color: #fff; font-style: italic;}

#laytxt {padding: 15px; font: italic 18px Arial, Helvetica, sans-serif; color: #fff;}



#copyright {position: absolute; left: 35px !important; left: 535px; width:90%; bottom: 0; border: 0px solid coral; font: 12px Arial, Helvetica, sans-serif;}

#copyright a { font: 12px Arial, Helvetica, sans-serif;}

